<!-- Header -->
<header id="head">
  <div class="container">
    <div class="banner-content">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>MANAGEMENT</h2>
          <p>Amazing free responsive website for free</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>PLANNING</h2>
          <p>Bootstrap mobile first front-end framework.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>MARKETING</h2>
          <p>HTML5/CSS3 used for structuring and presenting.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>REPORTS</h2>
          <p>jQuery: Write Less.. Do More..</p>
          <div class="da-img"></div>
        </div>
        <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
      </div>
    </div>
  </div>
</header>
<!-- /Header --> 