<!-- Highlights - jumbotron -->
<div class="jumbotron sectionBox">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fa fa-users fa-2x circle"></i>MANAGEMENT</h4>
          </div>
          <div class="h-body text-center">
            <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fa fa-bar-chart-o fa-2x circle"></i>PLANNING</h4>
          </div>
          <div class="h-body text-center">
            <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fa fa-gears fa-2x circle"></i>MARKETING</h4>
          </div>
          <div class="h-body text-center">
            <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fa fa-file-word-o fa-2x circle"></i>REPORTS</h4>
          </div>
          <div class="h-body text-center">
            <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
          </div>
        </div>
      </div>
      <!-- /row  --> 
      
    </div>
  </div>
  <!-- /Highlights -->